.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  transition: all 0.3s ease-in-out; /* Smooth transition */
  z-index: 1000;
}

.scrolled {
  backdrop-filter: blur(10px); /* Add blur effect */
  background-color: var(--bgnavbarhover); /* Slightly less transparent */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  flex: 1;
  text-align: start;
  font-size: 36px;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex: 1;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
